@import 'base';
@import 'vendor/normalize';

body, html {
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu Mono';
	color: #34495E;
	background-color: #ECF0F1;
}

.scroller {
	position: absolute;
	width: 1px;
	height: 1px;
	bottom: -1px;
}

.clearfix {
	clear: both;
}

@import 'navigation';
@import 'wrapper';
@import 'content';
@import 'notes';
@import 'nodes';
