.wrapper {
	position: absolute;
	width: 50%;
	left: 50%;
	top: 20%;
	margin-left: -25%;
	text-align: center;
}

.wrapper .content {
	margin-top: 50px;
}

.wrapper .form {
	width: 60%;
	margin-left: 20%;
}

.wrapper a {
	color: #2980B9;
	text-decoration: none;
}

.wrapper h1 {
	font-weight: bold;
	font-size: 36px;
	color: #34495E;
	line-height: 36px;
}
